<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script>
        window.onload = function () {
            const table = document.querySelector('.form-table');
            let rows = [];
            for (let i = 0; i < 4; i++) {
                rows.push(document.createElement('tr'));
                table.appendChild(rows[i]);
            }
            const initialValues = {
                Time: 406,
                V1: -2.312227,
                V2: 1.951992,
                V3: -1.609851,
                V4: 3.997906,
                V5: -0.522188,
                V6: -1.426545,
                V7: -2.537387,
                V8: 1.391657,
                V9: -2.770089,
                V10: -2.772272,
                V11: 3.202033,
                V12: -2.899907,
                V13: -0.595222,
                V14: -4.289254,
                V15: 0.389724,
                V16: -1.140747,
                V17: -2.830056,
                V18: -0.016822,
                V19: 0.416956,
                V20: 0.126911,
                V21: 0.517232,
                V22: -0.035049,
                V23: -0.465211,
                V24: 0.320198,
                V25: 0.044519,
                V26: 0.17784,
                V27: 0.261145,
                V28: -0.143276,
                Amount: 0
            };
            let cellCount = 0;
            for (const fieldName in initialValues) {
                if (initialValues.hasOwnProperty(fieldName)) {
                    const value = initialValues[fieldName];
                    if (fieldName === 'Time' || fieldName === 'Amount') {
                        document.getElementById(fieldName.toLowerCase()).value = value;
                    } else {
                        let cell = document.createElement('td');
                        let label = document.createElement('label');
                        let input = document.createElement('input');
                        label.setAttribute('for', fieldName.toLowerCase());
                        label.textContent = `${fieldName}:`;
                        input.setAttribute('type', 'number');
                        input.setAttribute('step', 'any');
                        input.setAttribute('id', fieldName.toLowerCase());
                        input.setAttribute('name', fieldName.toLowerCase());
                        input.value = value;

                        cell.appendChild(label);
                        cell.appendChild(input);

                        // Append the cell to the appropriate row based on cellCount
                        let rowIndex = Math.floor(cellCount / 7);
                        rows[rowIndex].appendChild(cell);
                        cellCount++;
                    }
                }
            }
        };

        async function submitForm(event) {
            event.preventDefault();
            let time = document.getElementById('time').value;
            let amount = document.getElementById('amount').value;

            let response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'Time': time, 'Amount': amount })
            });

            let result = await response.json();
            const messageElement = document.getElementById('prediction-message');
            let alertMessage;

            if (result.prediction === 1) {
                alertMessage = 'Transaction is potentially fraudulent.';
                messageElement.style.backgroundColor = '#f44336'; // Set message background color
            } else {
                alertMessage = 'Transaction is likely legitimate.';
                messageElement.style.backgroundColor = '#12587e'; // Set message background color
            }

            // Show the prediction message
            messageElement.textContent = alertMessage;
            messageElement.style.display = 'block';
            showAlert(alertMessage, 15000); // Display the alert for 15 seconds
        }


        function showAlert(message, duration) {
            const alertBox = document.createElement('div');
            alertBox.classList.add('alert-box');
            alertBox.textContent = message;
            document.body.appendChild(alertBox);

            setTimeout(() => {
                alertBox.remove();
            }, duration);
        }
        function goBack() {
            window.location.href = '/'; // Navigate to the home route
        }

    </script>
</head>

<body>
    <h2>Fraud Detection Form</h2>
    <form onsubmit="submitForm(event)">
        <div class="form-section">
            <div class="form-title">Transaction Details</div>
            <div class="transaction-details">
                <div class="detail">
                    <label for="time" class="form-label">Time (in seconds from the first transaction):</label>
                    <input type="number" id="time" name="time" class="form-input" required>
                </div>
                <div class="detail">
                    <label for="amount" class="form-label">Amount:</label>
                    <input type="number" id="amount" name="amount" class="form-input" required step="any">
                </div>
            </div>
        </div>


        <div class="form-section">
            <!-- <div class="form-title">Transaction Characteristics</div> -->
            <table class="form-table">
                <!-- Fields for PCA features will be created here by JavaScript -->
            </table>
        </div>

        <div class="form-actions">
            <input type="submit" value="Check Transaction" class="submit-button">
            <button type="button" onclick="goBack()" class="back-button">Back</button>
        </div>

    </form>
    <div id="prediction-message" class="alert-box" style="display: none;"></div>
</body>

</html>